@import url(//db.onlinewebfonts.com/c/62a21a38107b9cdc05e42e7fa7fc8322?family=BeaufortW01-HeavyItalic);
@font-face {font-family: "beaufort"; src: url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.eot"); src: url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.woff") format("woff"), url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/62a21a38107b9cdc05e42e7fa7fc8322.svg#BeaufortW01-HeavyItalic") format("svg"); } 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "beaufort";
}
body{
    background-color: #E1E4EA;
}

h1{
    font-size: 150%;
    text-align: left;
    padding-left: 15%;
}
h3{
    margin-top: 3%;
    font-size:150%;
}
h4{
    font-size:300%;
}

.classement{
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
}
.mainframe{
width: 80%;
padding: 0% 0% 2% 0%;
display: flex;
flex-direction: column;
overflow: hidden;
background-color: white;
margin-bottom: 5%;
border-right: 1px solid #b9b9b9;
border-bottom: 1px solid #b9b9b9;
border-left: 1px solid #b9b9b9;
}
.header_classement{
    display: flex;
    width: 80%;
    margin-top: 5%;
}

.header_part{
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-radius: 10% 10% 0px 0px/ 20px 19px;
    background-color: white;
}
.header_part:hover{
    border-bottom: 3px solid white;

}
.best_player_title{
    text-align: center;
    padding: 2% 25%;
   
    font-size: 200%;
}
.barre{
    width: 100%;
    display: flex;
    justify-content: center;
}
.barre_inbetween{
    width: 80%;
    border-bottom: 1px solid rgb(211, 211, 211);
}
.img_classement{
    width: 100%;
    object-fit: cover;
}
.header_rank{
    display: flex;
    padding: 2% 0% 2% 0%;
    text-transform: uppercase;
    font-weight: bold;
}
.ranked_header{
width: 11%;
text-align: center; 
border-right: 1px solid black;
margin-right: 1%;
padding-top: 1%;
padding-bottom: 1%;
}
.username_header{
width: 39%;
padding-top: 1%;
padding-bottom: 1%;
border-right: 1px solid black;
margin-right: 1%;
}
.points_header{
width: 23%;
padding-top: 1%;
padding-bottom: 1%;
border-right: 1px solid black;
margin-right: 1%;
}
.point_perso_header{
width: 25%;
padding-top: 1%;
padding-bottom: 1%;
}
.content_classement{
width: 100%;
border-top: 1px solid #a8a8a8;
border-bottom: 1px solid #a8a8a8;
    }
.player_classement{
display: flex;
width: 100%;
align-items: center;
}
.ranked{
    width: 11%;
    text-align: center; 
    border-right: 1px solid black;
    margin-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}
.username{
width: 39%;
padding-top: 0.5%;
padding-bottom: 0.5%;
display: flex;
align-items: center;
}
.icon_summoner{
    width: 6%;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-right:1%;
}
.points{
    border-left: 1px solid black;
padding-left: 1%;

width: 24%;
padding-top: 0.5%;
padding-bottom: 0.5%;
border-right: 1px solid black;
margin-right: 1%;
}
.point_perso{
    width: 25%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.iron:hover{
    background: linear-gradient(#2f1f1d7d, #FFFFFF);
}
.bronze:hover{
    background: linear-gradient(#56383382, #FFFFFF);
}
.silver:hover{
    background: linear-gradient(#889ba482, #FFFFFF);
}
.gold:hover{
    background: linear-gradient(#b68b3e7d, #FFFFFF);
}
.platine:hover{
    background: linear-gradient(#85b9af75, #FFFFFF);
}
.diamond:hover{
    background: linear-gradient(#4399c57d, #FFFFFF);
}
.master:hover{
    background: linear-gradient(#92547f7d, #FFFFFF);
}
.grandmaster:hover{
    background: linear-gradient(#aa2e2282, #FFFFFF);
}
.challenger:hover{
    background: linear-gradient(#8fa0e0, #FFFFFF);
}
